*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 80%;
    margin: auto;
} 


/* * ,  */
body:not(.Selected){
    color: var(--white) !important;
  }
  
  .Selected{
    color: var(--black)!important;
  }