.offer {
  height: 530px;
  padding-top: 110px;
}

.offer .container {
  /* display: grid; */
  height: 300px;
  gap: 2rem;
  display: flex;
  /* grid-template-columns: 2fr repeat(2, 1fr); */
}

.offer .container .a {
  background-image: linear-gradient(#70707021, #7070701e),
    url(../img/sec2/1.png);
}
.offer .container .b {
  background-image: linear-gradient(#70707021, #7070701e),
    url(../img/sec2/2.png);
}
.offer .container .c {
  background-image: linear-gradient(#70707021, #7070701e),
    url(../img/sec2/3.png);
}

.offer .box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  gap: 1.5rem;
  padding-left: 50px;
  width: 250px;
}

.offer .box.active{
width: 500px;
background-size: cover;

}

.offer .box button {
  width: 48%;
  color: var(--black) !important;
  border-color: transparent;
  border-radius: 50px;
}

.offer .a button {
  width: 30%;
}

.offer .c{
position: relative;
}

.offer .c span{
position: absolute;
top: 60px;
background-color:var(--red);
border-radius: 50px;
width: 35px;

}

@media(min-width:0) and (max-width:1200px){
.offer {
  display: none;
}

}