.Selected {
  position: relative;
  height: 600px;
  /* min-width: 1500 !important; */
}
@media (min-width: 1400px) 
{
  .container{
    max-width: 1160px;
  }
}


.Selected .contain {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  width: 80%;
  margin: auto;
  justify-content: center;
  /* background-color: #e0bbbb; */
}

.Selected .head {
  display: flex;
  padding: 20px 10px;
  padding-bottom: 40px;
  justify-content: space-between;
  width: 99%;
}

.Selected .head button {
  background-color: transparent!important;
  border-radius: 50px;
  width: 120px;
}

.Selected .box{
   display: flex;
   flex-direction: column;
   gap: 1.5rem;
}

.Selected {
    color: var(--black)!important;
}

.Selected .span_text{
    display: flex;
    justify-content: start;
    gap: 1.5rem;
}

.Selected .red{
    color:var(--red);
}

.Selected .a{
    position: relative;
}

.Selected span{
 position: absolute;
top: 20px;
left: 10px;
background-color:var(--red);
color: var(--white);
border-radius: 50px;
width: 35px;
padding-left: 2px;
margin: auto;
}

.Selected .black2{
    color: var(--black2);
}

.Selected .carousel-control-prev{
position: absolute;
left: -70px;
top: 160px;
color: var(--black) !important;
background-color: transparent !important;
}

.Selected .carousel-control-next{
  position: absolute;
  right: -190px;
  top: 160px;
  
}

@media(min-width:0) and (max-width:576px){

.Selected .carousel-control-prev , .Selected .carousel-control-next{
  display: none !important; 
}

.Selected .contain {
  display: grid;
  grid-template-columns: repeat(2 , 1fr);
  gap: 0.6rem;
}

.Selected .contain .box img{
  width: 170px;
  height: 250px;
  object-fit: cover;
}


.Selected .contain h6 .Selected .contain p{
font-size: 14px;
}

}



 @media (min-width: 576px) and (max-width: 768px) {


/* .Selected .contain .a , .Selected .contain .c{
display: none;
} */

.Selected .carousel-control-prev , .Selected .carousel-control-next{
  display: none !important; 
}

.Selected .contain .box img{
  width: 200px;
  height: 300px;
  object-fit: cover;
}


.Selected .contain {
  display: grid;
  grid-template-columns: repeat(2 , 1fr);
  gap: 1rem;
}




  }


  @media (min-width: 768px) and (max-width: 992px) {
    
    .Selected .contain .box img{
      width: 160px;
      height: 250px;
      object-fit: cover;
    }
    
    .Selected .carousel-control-next{
        right: -120px;
    }
    
      }

      @media (min-width: 992px) and (max-width: 1200px) {
        .Selected .contain .box img{
          width: 200px;
          height: 300px;
          object-fit: cover;
        }
        
        .Selected .carousel-control-next{
            right: -130px;
        }
      
      }

