footer {
    height: 400px;
    padding-top: 100px;
  }
  
  footer .container {
    color: var(--black);
    display: flex;
    gap: 4rem;
    padding: 30px;
  }
  
  footer .col {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  
  footer a {
    text-decoration: none;
    color: var(--black);
    font-size: 14px;
  }
  
  footer .logo {
    display: flex;
    gap: 1rem;
  }
  
  footer .container p {
    font-size: 14px;
  }
  
  footer .p2 {
    padding-top: 0;
    margin-top: 0;
  }
  
  footer hr {
    color: var(--black);
  }
  
  footer .mail {
    padding-top: 10px;
    display: flex;
    justify-content: center;
    color: var(--black);
    padding-top: 0px;
  }
  
  @media(min-width:0) and (max-width:576px){

    footer{
      position: absolute;
      top: 3300px;
      margin-left: 0;
    }
    
    footer .container{
      width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    }
    
    footer .container .d{
    display: none;
    }
    
    }
    
    
    @media (min-width: 576px) and (max-width: 992px) {
    
      footer{
        position: absolute;
        top: 3100px;
        margin-left: 0;
      }
      
    footer hr{
      width: 200%;
    }
    
    footer .footer_mail{
      font-size: 14px;
      padding-left: 30%;
    }
    
    
    footer .container{
      min-width: 900px;
      width: 100%;
      display: grid;
      grid-template-columns: repeat(4,1fr);
    /* background-color: #7d3d3d; */
    justify-content: center;
    margin: 4%
    
    }
    
    
    .mail{
    padding-left: 0 !important;
    position: relative;
    left: -220px;
    }}
    
    
    
    @media (min-width: 992px) and (max-width: 1200px) {
    
      footer{
        position: absolute;
        top: 2400px;
        margin-left: 0;
      }
      
    footer hr{
      width: 200%;
    }
    
    footer .footer_mail{
      font-size: 14px;
      padding-left: 30%;
    }
    
    
    footer .container{
      min-width: 900px;
      width: 100%;
      display: grid;
      grid-template-columns: repeat(4,1fr);
      justify-content: center;
      margin: 14%;
    }
    
    
    }
    
    
    